body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  overflow-y: hidden;
}

.login_form {
  width: 30%;
  margin: 0 auto;
  margin-top: 30vh;
  padding: 15px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  border: 2px solid #2196F3;
  border-radius: 10px;
}

.statusBlock {
  display: flex;
  max-height: 87vh;
  width: max-content;
  overflow-x: auto;
  overflow-y: hidden;
  margin-top: 50px;
}

.statusCols {
  width: 13.85%;
  height: 100vh;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #f7f3f3;
}

.statusCols h4 {
  font-size: 14px;
}

.status_name {

  height: 40px;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}

.status_els {
  margin-top: 40px;
  overflow-y: auto;
  height: 500px;
}

.status_name {
  position: relative;
}

.upload_el {
  position: absolute;
  right: 10px;
}

.update_img {
  width: 15px;
  height: 15px;
}

.statusColsElement {
  position: relative;
  height: 150px;
  font-size: 12px;
  padding: 5px;
  margin: 0 auto;
  margin-bottom: 20px;
  background-color: #Fff;
  border-radius: 9px;
  white-space: nowrap;
  /* Запрещаем перенос строк */
  overflow: hidden;
  /* Скрываем контент, выходящий за границы блока */
  text-overflow: ellipsis;
}

.add_task {
  text-align: center;
  width: 87%;
}

.uncompleted_tasks {
  color:rgb(226, 211, 5);
}

 

.search_result:hover {
  color: #2196F3;
}

.manager_el:hover {
  color: #2196F3;
}

.cancel_block {
  display: flex;
  align-items: center;
  margin-bottom: 7px;
}

.cancel_txt {
  padding: 10px;
}

.cancel_checkbox {}

.active_el_hide {
  color: #2196F3;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 37px;
  height: 20px;

}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 10px;
  /* Уменьшен радиус для создания более компактного вида */
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}


.menu_text {
  margin-left: 10px;
  font-size: 14px;
}

.date_name_block {
  display: flex;
  border-radius: 9px;
  background-color: #E3E6EB;
  width: max-content;
  padding: 5px;
  margin-top: 10px;
}

.client_name_block {
  display: flex;
  margin-top: 10px;
  padding: 5px;
}

.managers_name_block {
  display: flex;
  width: 130px;
  margin-top: 22px;
  padding: 5px;
  /* Добавляем многоточие для обрезанного контента */
}

.clock_img {
  width: 15px;
  height: 15px;
  margin-right: 7px;
  margin-top: 1px;
}

.statusColsElement:hover {
  border: 2px solid #939393;
}

.main {
  display: flex;
  height: 100vh;
}

.td_search {
  width: 50%;

}

.search_result {
  cursor: pointer;
  margin-top: 20px;
}


.hello {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 50px;
}

.left_menu {
  position: relative;
  order: 1;
  width: 15%;
  background-color: #F4F4F4;
  margin-top: 20px;
}

.leed_el {
  display: flex;
  cursor: pointer;
  color: #00A6f2;
  margin-left: 10px;
  justify-content: end;
}

.leed_el:hover {
  color: #f17f0c;
}

.status_block span {
  cursor: pointer;
}

.status_block span:hover {
  background-color: #2f437d;
}

.right_content {
  position: relative;
  width: 100%;
  /* overflow-y: auto; */
  overflow-x: auto;
  order: 2;

}

.name {
  font-size: 11px;
}

.manager_name_block {
  position: relative;
  background-color: #fff;
  padding: 5px;
  margin: 5px;
}

.name {
  color: blue;
}

.role {
  color: #939393;
}

.menu_block {
  position: relative;
  height: 100%;
  background-color: #fff;
  margin: 5px;
}

.left_menu_buttons {
  padding-top: 15px;
}

.menu_arrow_img {
  width: 20px;
  height: 15px;
  margin-left: 100%;
  cursor: pointer;
}


.menu_arrow {
  position: absolute;
  right: 20px;

}

.menu_element {
  height: 40px;
  display: flex;
  align-items: center;
}

.menu_element:hover {
  cursor: pointer;
  background-color: #b8b7b7;
}

li {
  list-style-type: none;
}

ul {
  list-style: none;
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Задаем цвет и прозрачность */
  display: none;
  justify-content: center;
  align-items: center;
}

.overlay.show {
  display: block;
  /* Show when the VIEW is open */
}

/* Добавляем анимацию для user_modal */
.user_modal {
  width: 90%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ececec;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: none;
  z-index: 1000;
}

.product_ul {
  height: 200px;
  overflow-y: auto;
  padding: 0;
}

.product_ul li {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px;
  background-color: #Fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.add_pay_btn {
  display: flex;
  align-items: center;
  border: 0;
  background-color: rgb(5, 142, 226);
  color: #fff;
  padding: 10px;
  border-radius: 9px;
  width: 100px;
  cursor: pointer;
  margin-top: 15px;
  text-align: center;
  font-size: 12px;
  margin-right: 25px;
}

.title_block{
  font-size: 24px;
  font-weight: 700;
}

.user_modal_left_block.payment_block .el {
  display: flex;
  justify-content: space-between;
  align-items: end;
  width: 90%;
  margin: 0 auto;
}
.user_modal_left_block .product_ul .el{
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
}

.currency{
  margin-left: 10px;
}

.product_ul_el{
  display: flex;
  align-items: center;
}

.product_ul li:hover {
  background-color: #999;
}

.pruduct_data_input {
  width: 50px;
  margin-left: 10px;
  
}

.bucketImg {
  cursor: pointer;
  width: 15px;
  height: 15px;
}



/* Добавляем анимацию появления для user_modal */
.user_modal.show {
  animation: fade-in 0.3s ease-in-out;
  display: flex;
}

.user_modal_left_side {
  width: 70%;
  height: 600px;
  overflow-y: auto;
}

.user_modal_right_side {
  width: 30%;
}

.status_block {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #fff;
}

.status_block div {
  padding: 15px;
}

.status_block div span {
  color: #fff;
  background-color: rgb(5, 142, 226);
  padding: 3px;
  border-radius: 5px;
}

.user_modal_left_main {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.user_modal_left_block.payment_block {
  height: max-content;
  margin-top: 20px;

}

.status_btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  margin: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.status_btn.selected {
  background-color: blue;
  color: white;
}


.user_modal_left_block,
.user_modal_right_block {
  background-color: #fff;
  width: 48%;
  height: 300px;
}

.content {
  padding: 12px;
}

.content h3 {
  text-align: center;
}

.el {
  margin-top: 15px;
  word-wrap: break-word;
}

.el span {
  font-weight: 700;
}

#today_tasks {
  background-color: green;
}

.openFilterBtn {
  top: 18px;
  margin-left: 15px;
}

.head_btns {
  display: flex;
  align-items: end;
}

.tasks_block {
  margin-top: 90px;
}

.openFilterBtn img {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.content label {
  font-weight: 700;
}

.content select {
  width: 69%;
  padding: 7px;
  margin: 0 auto;
  border: 1px solid #999;
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
  margin-left: 5px;
}

/* Анимация для появления */
@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Закрытие при клике на затемнение */
.overlay.active {
  display: block;
}

/* Стили для кнопки закрытия */
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  color: #555;
}

.notice_container {
  margin: 0 auto;
}

.notice_block {
  width: 95%;
  height: 450px;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
}

.edit_btns {
  display: flex;
  position: absolute;
  top: 0;
  justify-content: space-between;
  right: 10px;
  width: 40px;
}

.notice_element {
  position: relative;
  width: 90%;
  height: 40px;
  font-size: 12px;
  border: 1px solid;
  padding: 5px;
  margin: 0 auto;
  background-color: #fff;
  margin-top: 10px;
  border-radius: 8px;
}

.notice_date {
  display: flex;
  padding: 5px;
  width: 95%;
  font-size: 12px;
  margin-top: 10px;
  margin-left: 5px;
}

.notice_date hr {
  color: red;
  background-color: #000000;
  width: 165px;
  height: 0.5px;
  margin-top: 11px;
}

.notice_container h4 {
  text-align: end;
}

.add_notice {
  display: flex;
  margin: 0 auto;
  width: 88%;
}

.add_notice button {
  background-color: rgb(5, 142, 226);
  color: #Fff;
  border: 0;
  cursor: pointer;
}

.show_clients_block {
  position: relative;
  display: flex;
  margin-left: 2%;
}

.add_leed {
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 15px;
  text-align: center;
  /* margin-left: 89.5%; */
  background-color: rgb(5, 142, 226);
  color: #fff;
  padding: 2px;
  cursor: pointer;
  border-radius: 8px;
}

.filter_btn:hover {
  background-color: #445486;
}

.client_info {
  display: flex;
  justify-content: space-between;
}

.client_info_left,
.client_info_right {
  width: 48%;
}

.client_info_left .input_td,
.client_info_right .input_td {
  margin-top: 10px;
}

.client_info_left .input_td input,
.client_info_right .input_td input,
.client_info_right .input_td select,
.client_info_right .input_td .input_date,
.client_info_left .input_td select {
  margin-top: 5px;
  width: 95%;
}

.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker__input-container input {
  cursor: pointer;
}

.leed_head_txt {
  padding: 20px;
  margin: 0;
  text-align: center;
  border-bottom: 1px solid #2196F3;
  color: #445486;
}

.open_second_number {
  position: absolute;
  right: 23px;
  top: 29px;
  cursor: pointer;
}

.input_name {
  color: #2f437d;
}

.client_reg_form {
  margin: 0 auto;
  width: 90%;
}

.search_input {
  width: 96%;
  height: 17px;
  margin-top: 15px;
}


.search_btn {
  display: flex;
  align-items: center;
  padding: 0 5px 0 5px;
  height: 33px;
  background-color: rgb(5, 142, 226);
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  border: 0;
  margin-left: 15px;
}

.fixed_search_form {
  position: fixed;
  width: 85%;
}

.search_form {
  display: flex;
  justify-content: space-between;
  width: 98.5%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.search {
  display: flex;
  width: 30%;
}

.search_block {
  position: relative;
  width: 100%;
}

.clients_block {
  width: 100%;
}

.sort_block {
  position: relative;

  width: 97%;
  padding: 10px;
  background-color: #eae3e3;
  margin-top: 16px;
}

.flexBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;


}

.sort_head_txt {
  font-size: 12px;
  color: #2196F3;
  padding-bottom: 5px;
  border-bottom: 1px solid;
}

.filter_btns {
  display: flex;
  margin-top: 10px;
}

.sort_block .close {
  top: 0;
  color: #2196F3;
}

.period_search {
  width: 40%;
  margin-bottom: 2px;
}

.period_inputs {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.period_inputs_date input {
  width: 46%;
}

.period_inputs_date {
  width: 40%;
  margin: 0 auto;
}

.period {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  font-weight: 600;
}

.list_task_head {
  text-align: center;
}

.manager_el .edit_man_btn {
  width: 120px;
}

.manager_el .edit_man_btn:hover {
  background-color: #2196F3;
}

.manager_el .list_task_btn {
  width: 120px;
  margin-left: 15px;
}

.manager_el .list_task_btn:hover {
  background-color: #2196F3;
}

.search_leed_result {
  display: flex;
  flex-wrap: wrap;
  margin-top: 80px;
}

.search_leed_result .statusColsElement {
  width: 13%;
  border: 1px solid #ef0f0f;
}

.search_leed_result .statusColsElement:hover {
  border: 2px solid #000000;
}

.upload {
  display: flex;
}

.upload_el {
  cursor: pointer;
  color: #2196F3;

}

.filter_btn {
  cursor: pointer;
  background-color: #2196F3;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  margin-left: 10px;
  display: flex;
  align-items: center;
  font-size: 11px;
  height: 16px;
  width: 120px;
  justify-content: center;
}

.manager_el .manager_el_btns {
  display: flex;
  width: auto;
  justify-content: space-between;
  align-items: center;
}

.manager_el_btns .edit_buyer_btn {
  width: 110px;
}

.manager_el td {
  width: 33%;
}

.date {}

.search_reset {
  position: absolute;
  top: 45%;
  width: 1%;
  left: 92%;
  height: 20px;
  background-color: #fff;
  border: 0;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  width: 98%;
}

tr,
td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #d5d5d5;
}

tr {
  background-color: #f2f2f2;
}


.btn_buyer {
  margin: 10px;
}

.reg_table {
  background-color: #f2f2f2;
  border: 1px solid #dddddd;

}

.table_list {
  margin-top: 40px;
}

.register {
  border: 0;
  background-color: rgb(5, 142, 226);
  color: #fff;
  padding: 10px;
  border-radius: 9px;
  width: 100px;
  cursor: pointer;
  margin-top: 15px;
  text-align: center;
}

.btn_form_block {
  display: flex;
  justify-content: space-between;
}

.active_el {
  color: rgb(255, 255, 255);
  background-color: #6378be;
}

input,
select {
  width: 80%;
  padding: 7px;
  margin: 0 auto;
  border: 1px solid #999;
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

input:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.input_td div {

  font-size: 14px;
}

.input_td input,
select {
  margin-top: 15px;
}

.react-datepicker-wrapper {
  margin-bottom: 0;
}

.logout {
  cursor: pointer;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 8px;
  right: 8px;
}

.mob {
  display: block;
}

.hide {
  display: none;
}

.left_menu.hide {
  display: block;
  width: 4%;
}

.manager_name_block.hide {
  display: none;
}

.computer {
  display: table;
}

.mobile {
  display: none;
}

.table_block {
  overflow-x: auto;
}

@media (max-width:700px) {
  .main {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

  }

  .left_menu {

    order: 2;
    width: 100%;
    margin-bottom: 0;
    height: max-content;
    margin-top: auto;
  }

  .right_content {
    order: 1;
  }

  .menu_block {
    display: flex;
    justify-content: space-between;
  }

  .mob {
    display: none;
  }

  .statusBlock {
    max-height: 80vh;
    margin-top: 0px;
  }

  .fixed_search_form {
    position: fixed;
    width: 100%;
  }

  .statusCols {
    height: 68vh;
  }

  .add_leed {
    font-size: 12px;
    width: 70px;
    height: 30px;
    margin-right: 8px;
  }

  .search_form {
    align-items: end
  }

  .search {
    width: 70%;
  }

  .search_btn {
    font-size: 12px;
    height: 30px;
  }

  .openFilterBtn {
    margin-left: 8px;
  }

  .search_leed_result .statusColsElement {
    width: 56%;
  }

  .search_leed_result {
    margin-top: 100px;
  }

  .flexBtn {
    display: block;
  }

  .sort_block {
    width: 92.5%;
  }

  .period_search {
    width: 100%;
  }

  .filter_btns {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .filter_btn {
    width: 70px;
    margin-left: 0px;
    margin-top: 10px;
  }

  .user_modal {
    width: 93%;
    height: 94%;
  }

  .user_modal_left_main {
    display: block;
  }

  .user_modal.show {
    display: block;
    overflow-y: auto;
  }

  .user_modal_left_side {
    width: 100%;
  }

  .user_modal_left_block,
  .user_modal_right_block {
    width: 100%;
  }

  .user_modal_right_block {
    margin-top: 20px;
  }

  .user_modal_right_side {
    width: 100%;
  }

  .input_td div {
    font-size: 12px;
  }

  .client_reg_form {
    margin-top: 25px;
  }

  .computer {
    display: none;
  }

  .mobile {
    display: table;
  }

  .left_menu_buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .menu_arrow {
    display: none;
  }

  .main {
    position: relative;
  }

  .period_inputs_date {
    width: 85%;

  }
  .pruduct_data_input{
    width: 25px;
  }
  .product_ul li{
    font-size: 12px;
  }
}